[submodule "CWindow/vendor/glm"]
	path = CWindow/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "CWindow/vendor/imgui"]
	path = CWindow/vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "CWindow/vendor/glfw"]
	path = CWindow/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "CWindow/vendor/glad"]
	path = CWindow/vendor/glad
	url = https://github.com/Dav1dde/glad
	branch = c
[submodule "CWindow/vendor/stb"]
	path = CWindow/vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "CWindow/vendor/assimp"]
	path = CWindow/vendor/assimp
	url = https://github.com/assimp/assimp
[submodule "CWindow/vendor/googletests"]
	path = CWindow/vendor/googletests
	url = https://github.com/google/googletest
